.shelf-container .slick-slide {
  display: flex !important;
  justify-content: center;
}

.shelf-container .slick-prev {
  left: 8px !important;
  z-index: 9;
}
.shelf-container .slick-prev::before {
  content: url("../../../public/icons/icon-prev.svg") !important;
  opacity: 1;
}

.shelf-container .slick-next {
  right: 8px !important;
  z-index: 9;
}

.shelf-container .slick-next::before {
  content: url("../../../public/icons/icon-next.svg") !important;
  opacity: 1;
}
