/* .scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  width: 0;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  width: 0;
} */
.scrollbar-hidden {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
